/* Code en commun des pages et index */


a{
    text-decoration: none;
    color: black;
}

.block-page {
    background-color: $bgcolor-primary;
    width: 100%;
    @include bigDesktop{
        max-width: 1600px;
        margin: auto;
     }
}

body{
    width: 100%;
    margin: 0;
    @include bigDesktop{
        max-width: 1600px;
        margin: auto;
     }
}
/*Header commun pages et index*/
header{
    padding-top: 20px;
    padding-bottom: 10px;
    position: relative;
}
header{
    .logo{display: flex;
   justify-content: center;
   align-items: center;}
    
    img{
        height:auto;
        width:170px;
        @include tablette-only{
         width: 220px;
        }
        @include desktop{
            width: 220px;
        }
    }

}
/*Footer commun index et pages */
footer{
  background-color: #353535;  
  color: white;
  display: flex;
  flex-direction: column;
  font-family: $font-texte;
    padding: 25px;
    @include desktop{
    padding: 40px;
    }

   .logo-blanc{
    font-family: "Shrikhand", cursive;
    @include tablette-only{
        font-size:1.5rem;
    }
    @include desktop{
        font-size: 2rem;
    }
    }

    ul{
        list-style: none;
        padding: 0;
        @include desktop{
        display: flex;
        justify-content: space-between;}
        @include tablette-only{
        display: flex;
        justify-content: space-between;       
        }
        
        li{
            padding-bottom: 8px;
            @include desktop{
            font-size: 1.3rem;
            }
            i{
                padding-right:10px;
                
            }
            a{
                color: white;
            }
        }
    }
}

