.block-page{
    
    width: 100%;
   
    background-color: $bgcolor-primary;
}
.display-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    @include desktop{
        flex-direction:row;
    }
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    row-gap: 20px;
    animation: menu-block 700ms 500ms both;
    padding: 0 2% 0 2%;
    @include desktop{
        max-width: 95%;
    }
    &__btn{
        @include menu-btn;
        &--1{animation: menu-block 700ms 400ms both;}
        &--2{animation: menu-block 800ms 500ms both;}
        &--3{animation: menu-block 900ms 600ms both;}
        @include tablette-only{
        height:90px;
        max-width: 90%;
        }
    }    
  
   
}
.btn-content{
        height: 100%;
        overflow: hidden;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        padding: 10px 10px 10px 10px;
        &:hover{ .btn-content__check{
            animation: check-left 800ms ease-in-out both;
            @include tablette-only{
            animation: check-left-tablette 800ms ease-in-out both;   
            }
        }}
        &:hover {.btn-content__check i{
            animation: turn-check 800ms ease-in-out both;
        }}
        &:hover{ .btn-content__price{
            animation: check-left 800ms ease-in-out both; 
        }}
        &:hover{ .btn-content__additional{
            width:80%;
        }}
      
    &__title{font-size: 1rem;
            font-weight: bold;
            margin: 0;
            @include tablette-only{
                font-size: 1.5rem;
            }
             }    
    &__details{
        display: flex;
        width:95%;
        justify-content: space-between;
        flex-direction: column;
        overflow: hidden;
        @include desktop{
        align-items: flex-start;}
       }
    &__additional{font-size: 0.8rem;
            margin-bottom: 0;
            margin-top:13px;
            text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
            
        @include tablette-only{
            font-size: 1.1rem;
        }
        }
        
    &__price{
        font-size: 1rem;
        display: flex; 
        width: 15%;
        height: 100%;
        align-items:flex-end;
        justify-content: center;
        padding: 0 15px 0 0;
        p{
            box-sizing: inherit;
            margin:0;
        }
        @include tablette-only{
            font-size: 1.3rem;
        }
    }
    &__check{
        background-color: $color-tertiary;
        z-index: 4;
        margin:-10px -70px -15px -10px;
        width:60px;
        height: 70px;
        box-sizing: unset;
        border-radius: 0 20px 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: check-left-reverse 800ms ease-in-out both; 
        @include tablette-only
        {
            height:90px;
            width: 70px;
            margin:-10px -80px -15px -10px;
        }
        i{
            color: white;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;  
            @include tablette-only{
                font-size: 2rem;
            }
        }
    }
}
.restau-pres{ 
    display: flex;
    flex-direction: column;
    
    &__img{
        width:100%;
        @include tablette-only{
            height: 450px;
        }
        @include desktop{
            height:350px;
            width:100%;
            -o-object-fit: cover;
               object-fit: cover;
        }
        
    }
    &__texte{
        
        border-radius: 30px 30px 0 0; 
        display: flex;
        justify-content: space-between;
        background-color: $bgcolor-primary; 
        width: 100%;
        margin-top: -50px;
        box-sizing: border-box;
        padding: 20px;
            h1{
                margin: 0;
            }  
            .heart{
                font-size: 1.2rem;
                margin-right: 30px;
                position: relative;
                padding-top: 10px;
                padding-right:5px;
                .empty{
                    position: absolute;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    -o-background-clip: text;
                    z-index: 2;
                    opacity: 1;}
                    .full{
                    position: absolute;
                    background-image: linear-gradient(50deg,$color-primary,$color-secondary);
                    color: transparent;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    -o-background-clip: text;
                    opacity: 0;
                    z-index: 1;
                    }
                    &:hover{
                
                        & > .full{
                            -webkit-animation: fill-heart 1s both;
                                    animation: fill-heart 1s both;
                        }
                        
                    }
                @include tablette-only{
                    font-size: 1.6rem;
                    padding-right :10px;
                }
                @include desktop {
                    font-size: 2rem;
                    padding-right: 20px;
                }
            }
    }
    &__title{
        font-family: $font-titres;
        font-size: 1.5rem;
        @include tablette-only{
        font-size: 2.2rem;
        }
        @include desktop{
            font-size: 2.3rem; 
        }
    }
}
.block-menu{
    display: flex;
    flex-direction: column;
    background-color: $bgcolor-primary;
    width:100%;
    padding-bottom: 2%;
    opacity: 0;
    font-family: $font-texte;
    @include tablette-only{
        max-width: 90%;
    }
    
    
        &__entrees{
            animation: menu-block 500ms 400ms both;
        }
        &__plats{
            animation: menu-block 600ms 500ms both;
        }
        &__desserts{
            animation: menu-block 700ms 600ms both;
        }
        &__title{
            text-transform: uppercase;
            font-size: 1rem;
            padding-bottom: 5px;
            border-bottom: 3px solid $color-tertiary;
            width: 35px;
            margin-left: 5%;

            @include tablette-only{
                font-size: 1.4rem;
                width: 45px;
            }
            @include desktop{
                font-size: 1.4rem;
                margin-left: 4%;
                width: 45px;
                
            }
        }
}

.fleche{
    border:none;
    background-color: inherit;
    position: absolute;
    top:23px;
    left:20px;
    font-size: 1.3rem;
    @include tablette-only{
        font-size: 1.4rem;
        top:27px;
        left:20px;
    }
    @include desktop{
        font-size: 1.4rem;
        top:27px;
        left:20px;
    }
    
    
}
.btn-order{
    @include btn-couleur;
    width: 185px;
    height: 50px;
    margin:45px;
    z-index: 1;
        position: relative;
            &:hover{
                
                &::after{
                content: "";
                opacity: 1;
                }
            }
            &::after{
                @include lighter-btn;
            }
    @include tablette-only{
        width: 278px;
        height: 75px; 
        font-size: 1.5rem;  
    }
    @include desktop{
        width: 278px;
        height: 75px; 
        font-size: 1.5rem;  
    }
}
.btn-center{
    display: flex;
    justify-content: center;
}