
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

$bgcolor-primary:#F6F6F6;
$bgcolor-secondary:#EAEAEA;
$bgcolor-tertiary:#F5EDFF;

$font-titres: "Shrikhand", cursive;
$font-texte: "Roboto", sans-serif;
